{% extends "layout.html" %}

{% block main %}

<main>
  <center><h1>KAVAK HUKUK</h1></center>
  <hr>
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" style="background-image: url('https://i.hizliresim.com/1w1lv8i.jpg'); background-size: cover; background-position: center;">
        <!--<svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>-->
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>{{articles[0].title}}</h1>
            <p>...</p>
            <p><a class="btn btn-lg btn-primary" href="/article/{{articles[0].id}}">Detay</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('https://i.hizliresim.com/rx16xu2.jpg'); background-size: cover; background-position: center;">
        <!--<svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>-->
        <div class="container">
          <div class="carousel-caption">
            <h1 style="color: black">{{articles[1].title}}</h1>
            <p>...</p>
            <p><a class="btn btn-lg btn-primary" href="/article/{{articles[1].id}}">Detay</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('https://i.hizliresim.com/ibc1xse.jpg'); background-size: cover; background-position: center;">
        <!--<svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>-->
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>{{articles[2].title}}</h1>
            <p>...</p>
            <p><a class="btn btn-lg btn-primary" href="/article/{{articles[2].id}}">Detay</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<h2>Çalışma Alanalarımız:</h2>
<hr>
  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <svg viewBox="0 0 100 100" class="bd-placeholder-img rounded-circle" width="140" height="140">
          <circle cx="50" cy="50" r="40" fill="#007bff"/>
          <image xlink:href="https://i.hizliresim.com/kg5704r.png" x="10" y="10" width="80" height="80"/>
        </svg>
        <h2 class="fw-normal">İcra Hukuku</h2>
        <p>İcra hukuku ile ilgili çalışmalarımız:</p>
        <p><a class="btn btn-secondary" href="#">Daha Fazla Oku &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg viewBox="0 0 100 100" class="bd-placeholder-img rounded-circle" width="140" height="140">
          <circle cx="50" cy="50" r="40" fill="#007bff"/>
          <image xlink:href="https://i.hizliresim.com/kg5704r.png" x="10" y="10" width="80" height="80"/>
        </svg>
        <h2 class="fw-normal">Medeni Hukuk</h2>
        <p>Medeni hukuk ile ilgili çalışmalarımız:</p>
        <p><a class="btn btn-secondary" href="#">Daha Fazla Oku &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg viewBox="0 0 100 100" class="bd-placeholder-img rounded-circle" width="140" height="140">
          <circle cx="50" cy="50" r="40" fill="#007bff"/>
          <image xlink:href="https://i.hizliresim.com/kg5704r.png" x="10" y="10" width="80" height="80"/>
        </svg>
        <h2 class="fw-normal">Ceza Hukuku</h2>
        <p>Ceza hukuku ile ilgili çalışmalarımız:</p>
        <p><a class="btn btn-secondary" href="#">Daha fazla oku: &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
        <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

{% endblock main %}